In [1]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", 200)
pd.set_option("display.max_colwidth", 200)

/Users/lisakim/.pyenv/versions/3.8.2/lib/python3.8/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
!ls

Untitled.ipynb   d3-area.js       d3ScrollHW.csv   style.css
climate-data.tsv d3-scrolly.html  notes.txt

In [54]:
df =pd.read_csv("d3ScrollHW.csv")

In [55]:
df.head()

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat,year,month
0,152012485,04/11/2016,4:56:00,QUEENS,102,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1033861,192835,40.695833,-73.821093,POINT (-73.82109277699995 40.69583346400003),2016,4
1,185760776,07/29/2018,22:38:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,"1,003,656","187,150",40.680347,-73.930035,POINT (-73.93003524 40.68034722),2018,7
2,155571769,08/07/2016,2:00:00,QUEENS,113,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1040720,190569,40.689573,-73.796377,POINT (-73.79637672499997 40.689572726000044),2016,8
3,140335018,12/27/2014,22:15:00,BROOKLYN,77,2.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1003508,185056,40.674600,-73.930575,POINT (-73.93057482199998 40.67459999000005),2014,12
4,155405171,08/02/2016,1:08:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,18-24,F,BLACK,1005122,188737,40.684700,-73.924745,POINT (-73.92474482599994 40.684699840000064),2016,8

In [56]:
df2014 = df[df.year == 2014]

In [57]:
df2014 = df2014.groupby(['month']).count()

In [58]:
col_list = ['INCIDENT_KEY']
df2014 = df2014[col_list]

In [59]:
df2014['year'] = 2014

In [61]:
df2014 = df2014.rename(columns={"INCIDENT_KEY": "shootings"})

In [62]:
df2016 = df[df.year == 2016]
df2016 = df2016.groupby(['month']).count()

col_list = ['INCIDENT_KEY']
df2016 = df2016[col_list]

df2016 = df2016.rename(columns={"INCIDENT_KEY": "shootings"})
df2016['year'] = 2016

In [63]:
df2018 = df[df.year == 2018]
df2018 = df2018.groupby(['month']).count()

col_list = ['INCIDENT_KEY']
df2018 = df2018[col_list]

df2018 = df2018.rename(columns={"INCIDENT_KEY": "shootings"})

df2018['year'] = 2018

In [64]:
df2020 = df[df.year == 2020]
df2020 = df2020.groupby(['month']).count()

col_list = ['INCIDENT_KEY']
df2020 = df2020[col_list]

df2020 = df2020.rename(columns={"INCIDENT_KEY": "shootings"})

df2020['year'] = 2020

In [65]:
all_dfs = [df2014, df2016, df2018, df2020]

In [66]:
for df in all_dfs:
    df.columns = ['shootings', 'year']

In [69]:
all_dfs = pd.concat(all_dfs).reset_index(drop=False)

In [72]:
# all_dfs.to_csv("d3ScrollHW_new.csv", index=False)